/**
 * Proporciona un margen superior
 */
.margin-sup{

    margin-top: 5%; 

}


/**
 * estilos del body
 */
body {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333333;
    background-color: #d6d1d1;

}

/**
 * estilos de la barra que separa las titulaciones mostradas
 */
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

/**
 * Estilos del login
 */
.logi{
    background-color: #d6d1d1;


}
/**
 * Estilos del navbar
 */
.navbar-inner {
    background-image: -moz-linear-gradient(top, #ffffff, #c6abab);
    background-image: -ms-linear-gradient(top, #ffffff, #c6abab);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#c6abab));
    background-image: -webkit-linear-gradient(top, #ffffff, #c6abab);
    background-image: -o-linear-gradient(top, #ffffff, #c6abab);
    background-image: linear-gradient(top, #ffffff, #c6abab);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffffff, endColorstr='#'c6abab, GradientType=0);
}

